venv
web/.idea
web/__pycache__
web/imit_webapp.egg-info

web/imit/__pycache__
web/imit/imit.db
web/imit/custom_config.py
web/imit/messages.pot
*.mo

web/build/
web/dist/
web/config/
web/logs/
web/migrations/

*.sw*
*~
web/imit/__init__.pyc

web/imit/static/files
web/env

