{% extends "layout.html" %}
{% block title %}Добавление вакансии{% endblock %}

{% block content %}
    <h1>Добавление вакансии</h1>
    {% include 'error_flash.html' %}
    <a href="/page/instruction">Инструкция</a><br/>
    <br/>
    <form  method="POST" enctype="multipart/form-data" {% if action is defined %}action="{{ action }}"{% endif %}>
        {{ add_form.csrf_token }}
        {{ add_form.name.label }} <br/>{{ add_form.name() }} <br/>
        <!---{{ add_form.logo.label }} <br/>{{ add_form.logo() }} <br/> --->
        {{ add_form.link.label }} <br/>{{ add_form.link() }} <br/>
        <!-- name in website instead promo_link who does know?-->
        {{ add_form.promo_link.label }}<br/>{{ add_form.promo_link() }} <br/>
        {{ add_form.date.label }} <br/>{{ add_form.date() }} <br/>
        {{ add_form.desc_company.label }} <br/>{{ add_form.desc_company() }} <br/>
        
        <p> Это поле не обязательно для заполнения </p> {{ add_form.email.label }} <br/>{{ add_form.email() }} <br/>
        <p> Это поле не обязательно для заполнения </p> {{ add_form.phone.label }} <br/>{{ add_form.phone() }} <br/>
        <p> Это поле не обязательно для заполнения </p> {{ add_form.practice.label }} <br/>{{ add_form.practice() }} <br/>
        
        {{ add_form.full_cover_image() }}

        {{ add_form.delete_cover_image(style="display:none") }}
        {{ add_form.cropped_cover_image_data.label }} {{ add_form.cropped_cover_image_data() }} <br/>   
        <div id="cover_image_block"
                {% if employer is not defined or not employer.logo %}
             style="display: none"
                {% endif %}
        >
            <img id="cover_image_preview" width="150" height="150"
                    {% if employer is defined and employer.logo %}
                 src="/files/covers/{{ employer.logo }}"
                    {% else %}
                 src="#"
                    {% endif %}/>
            <br/>
            <button id="delete_cover_image_button">Удалить изображение</button>
            <br/>
        </div>

        <br/>
        <div id="cropper_block" style="display: none">
            <img id="cover_image_cropper" style="max-width: 100%" alt="title image cropper" src="#" height="300"/>
            <br/>
            <button id="apply_crop_button">Сохранить изображение</button>
            <button id="cancel_crop_button">Отменить изменение изображения</button>
            <br/>
        </div>
        <input type="submit"  onclick='check()' name="publish" value="Опубликовать"/>
<!--        <input type="submit"  name="publish" value="Опубликовать"/>-->
    </form>
    <script type="text/javascript">
        function check() {
        	alert( 'Employer added' );
        	window.location.href = "/employers";
        }

{% endblock %}
