<h1 class="title">Вакансии</h1>
{% if current_user.is_authenticated and current_user.has_role('editor') %}
     <a href="/employers/add">Добавить вакансию</a>
{% endif %}
{% if full %}
    <p>Года:
        {% for y in years %}
            {% if y == cur_year and year_selected %}
                <b>{{ y }}</b>
            {% else %}
                <a href="/employers?year={{ y }}">{{ y }}</a>
            {% endif %}
        {% endfor %}
    </p>
{% endif %}
<hr/>

    <h1 class="title">Работа в сфере ИКТ и ПО <a href="/page/vacancy" style="float:right;">Предложения компаний-партнеров</a></h1>
    <p>Здесь представлены компании-партнеры нашего института, ведущие разработки и исследования в сфере
Информационно-коммуникационных технологий и, прежде всего, в области разработки и сопровождения программного обеспечения. Представлены также
организации, использующие эти технологии и программное обеспечение на современном уровне.</p>

    <p>Рекомендуем нашим студентам использовать эту информацию при поиске работы. Инициирующие отношения с компанией/организацией студент может
установить, например, выбрав в декабре для разработки сформулированный ею групповой программный проект по дисциплине "Технология производства
программного обеспечения II" (3 курс, весенний семестр, см. <a href="http://cs.petrsu.ru/studies/index.php.ru">раздел "Учебный процесс"</a>).</p>

    <p>Дополнительную информацию о прохождении
практики, возможного трудоустройства и сотрудничества студентов ИМИТ с
компаниями можно уточнить в <a href="https://imit.petrsu.ru/page/structure#dir">дирекции института</a>.</p>


<table class= "employer_table">
{% for employer in employers %}
<tr>
    <td>
        <a href='/employers/{{ employer.id }}'><span class="title "> link to employer</a>
    </td>
    <td>
       	{{ employer.name}}
    </td>
    <td> 
    	{% if employer.has_cover_image %}
            <div style="float:left; margin-right: 10px;">
	        <a href="/files/covers/{{ employer.logo }}" rel="prettyPhoto[{{ employer.id}}]">
                <img src="/files/covers/ci_{{ employer.id }}.png" alt=""
                         full-cover-image="/files/covers/{{ employer.logo }}"
                         height="75"/> </a><br/>
                </div>
        {% endif %}
    </td>
    <td>
        <a href ='{{ employer.link}}'> {{employer.link}} </a>
    </td>
    <td>
       	{{ employer.promo_link}}
    </td>
    <td>
       	{{ employer.date}}
    </td>
    <td>
    	<p>Почта вакансии<p>
       	{{ employer.email}}
    </td>
    <td>
    	<p>Телефон вакансии<p>
       	{{ employer.phone}}
    </td>
    <td>
    	<p>Прохождение практики<p>
       	{{ employer.practice}}
    </td>
    <td>
    	<div>
            {% if current_user.is_authenticated and current_user.has_role('editor') %}
            <!--- Тут не передается нужный nid он берется первый из таблицы
                <input type="submit" onclick="openForm()" value="Delete">
                <div id="myModal" class="modal" style="display:none;">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <form>
                            <p> Tochno Delete?</p>
                            <a href="/employers/{{ employer.id }}/delete">Удалить</a>
                        </form>
                    </div>
                </div>
                --->
                <p>
                    <a href="/employers/{{ employer.id }}/edit">Редактировать</a> 
                </p>
                <p>
                    <a href="/employers/{{ employer.id }}/delete">Удалить</a> 
                </p>
            {% endif %}
    	</div>
    </td>
</tr>
{% endfor %}
</table>

<script>
        function openForm() {
            var modal = document.getElementById("myModal");
            modal.style.display = "block";

            var closeBtn = document.getElementsByClassName("close")[0];
            closeBtn.onclick = function() {
                modal.style.display = "none";
            }
            
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
    </script>
