{% extends "layout.html" %}
{% block title %}Черновики{% endblock %}



{% block content %}
<a href="/drafts/drafts_news">Черновики новостей</a> | 
<a href="/drafts/drafts_ads">Черновики объявлений</a> | 
<a href="/drafts/responderse">Предложенные новости</a>
<hr />
{% for draft_post in draft_posts %}
    <div class="draft_post">

	    {% if (draft_post.title.strip()) %}
		      
		      <a href='/drafts/{{ draft_post.id }}'><span class="title ">
		      {{ draft_post.title }}
		      </span></a>
        {% endif %}
      <div class="post-content">
            {% if draft_post.cover_image %}
                {% for image in images %}
                        {% if image.id_post == draft_post.id %}
                            <div style="float:left; margin-right: 10px;">
		                        <a href="/files/covers/{{ image.filename }}" rel="prettyPhoto[{{ draft_post.id}}]">
                            <img src="/files/covers/{{ image.filename }}" alt=""
                         full-cover-image="/files/covers/{{ image.filename }}_full.png"
                         height="75"/> </a><br/>
                            </div>
                        {% endif %}
                {% endfor%}
            {% endif %}
	    {% if (draft_post.title.strip()) %}
            {% if draft_post.short_text %}

                <div class="news-text">{{ draft_post.short_text | safe }} </div>

            {% endif %}
        {% endif %}
        </div>
    </div>
    <div style="clear: left; height: 0.5em;"></div>
    <div>
                <p>
                    <a href="/drafts/{{ draft_post.id }}/edit">Редактировать</a> |
                    <a href="/drafts/{{ draft_post.id }}/delete">Удалить</a>
                </p>
    </div>
{% endfor %}
{% endblock %}
