{% extends "layout.html" %}
{% block title %}О нас{% endblock %}

{% block content %}
    <h1 class="title">Об институте</h1>
    <div style="float:left; padding:0 2em 0 0;">
        <img border="1" src="/images/cherneckiy.jpg" width="150" height="200" alt="Владимир Ильич Чернецкий">
    </div>
    <p>Математический факультет отсчитывает свою историю с 1940 года. Тогда, при создании Петрозаводского
        государственного университета, был образован физико-математический факультет. Единственной математической
        кафедрой на новом факультете была кафедра математического анализа. Заведовал кафедрой с момента ее рождения и до
        конца своих дней Адам Адамович Райкерус, он же - первый декан факультета. В 1950 году из состава кафедры
        математического анализа появилась кафедра алгебры и геометрии. Кафедру алгебры и геометрии в 1981 году
        преобразовали в кафедру прикладной математики и кибернетики. В конце 1986 г. по инициативе математиков,
        возглавляемых профессором Владимиром Ильичем Чернецким, физико-математический факультет разделился на
        математический и физический (ныне - физико-технический) факультеты. Тогда на факультете было только две кафедры,
        два доктора наук и одна специальность - математика. В 1989 появилась кафедра информатики и математического
        обеспечения образованная на базе специализации "вычислительная математика" из состава кафедры прикладной
        математики и кибернетики по инициативе Н. С. Рузановой, А. А. Печникова Н. С. Реттиева, А. В. Соколова и Г. С.
        Сиговцева.</p>
    <div style="float:right; padding:0 2em 0 0;">
        <img border="1" src="/images/svetova.jpg" style="border-radius: 50%;" width="150" alt="Светова Нина Юрьевна">
    </div>

    <p>Первым деканом математического факультета стал доцент Андрей Анатольевич Печников. С 1991 по 2011 г. деканом
        математического факультета был доцент кафедры математического анализа Владимир Александрович Шестаков. С 2011 по
        2016 г. деканом был доцент кафедры теории вероятностей и анализа данных Алексей Геннадьевич Варфоломеев. В
        настоящее время факультетом руководит доцент кафедры математического анализа Светова Нина Юрьевна.</p>

    <p>В 1995 году с помощью В.И.Чернецкого и А.В.Воронина создан совет по защите кандидатских диссертаций. А в 1997
        году была основана научно-педагогическая школа «Математическое моделирование естественно-научных и хозяйственных
        процессов и систем управления» под руководством профессора Чернецкого В. И. Сейчас школа объединяет уже
        несколько научных коллективов, вышедших из лона кафедры и ставших самостоятельными научно-педагогическими и
        научно-производственными подразделениями: кафедру прикладной математики и кибернетики, кафедру математического
        моделирования систем управления, лабораторию математического моделирования систем управления в лесопромышленном
        комплексе, Центр ПетрГУ-Метсо Систем Автоматизации.
    </p>

    <p>
        В настоящее время на факультете ведется подготовка студентов по программам бакалавров, специалистов и магистров
        по специальностям «Прикладная математика и информатика», «Информационные системы и технологии»,
        «Бизнес-информатика», «Педагогическое образование».</p>

    <p>Студенты факультета математики и информационных технологий ведут активную научно-исследовательскую работу и
        ежегодно представляют Республику Карелия на конференциях, выставках, олимпиадах, чемпионатах. Петрозаводский
        государственный университет – ведущая международная школа подготовки программистов.
    </p>

{% endblock %}
