<header class="header">
    {% if current_user.is_authenticated %}
        <a class="logout-button" href="/logout">{{ _('Выйти') }} </a>
    {% endif %}

    <!--div id="head-top">
        {#% if current_user.is_authenticated and current_user.has_role('admin') %#}
            <a href="/admin">{{ _('Администрирование') }}</a> |
        {#% endif %#}
        {#% if current_user.is_authenticated %#}
            <a href="#">{{ current_user.uid }}</a> |
            <a href="/logout">{{ _('Выйти') }}</a>
        {#% else %#}
            <a href="/login">{{ _('Войти') }}</a>
        {#% endif %#}
        <!- -a href="/locale/set/ru">
            <img src="https://lipis.github.io/flag-icon-css/flags/4x3/ru.svg" alt="ru" height="15px"/>
        </a>
        <a href="/locale/set/en">
            <img src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" alt="en" height="15px"/>
        </a- ->
    </div-->
    <div id="head-petrsu">
        <div class="head-logo"><a href="https://petrsu.ru/">
            <img width="70" src="/images/petrsu-logo.png"></a>
        </div>
        <div class="head-title">
            <a id="petrsu-label" href="https://petrsu.ru/">
                <span class="avoidwrap">Петрозаводский</span>
                <span class="avoidwrap">государственный</span>
                <span class="avoidwrap">университет</span>
            </a>
        </div>
        <div class="head-title-short">
            <a id="petrsu-label" href="https://petrsu.ru/">ПетрГУ</a>
        </div>
    </div>
    <!--br clear="all"><br>
    <div class="line-bot-s"></div-->
    <div id="head-imit">
                    <h1 id="title"><a href="https://imit.petrsu.ru/">
                        <span class="avoidwrap">Институт математики</span>
                        <span class="avoidwrap">и информационных технологий</span></a>
                    </h1>
                    <h1 id="title-short"><a href="https://imit.petrsu.ru/">ИМИТ</a>
                    </h1>
        <table id="header-images" width="100%">
            <tr>
                <td style="width:33%;" width="30%">
                    <img width="230" src="/images/2-4.png"/>
                </td>
                <td style="width:33%;" width="30%">
                    <img height="80" src="/images/g3217.png"/><br />
                    <img height="120" src="/images/example5-2.png"/><br />
                </td>
                <!--td style="width:33%;" width="30%">
                    <img width="230" src="/images/up.png"/><br />
                    <img width="230" src="/images/down.png"/>
                </td-->
            </tr>
        </table>
    </div>
    <div class="line-bot-s"></div>
    <ul id="menu-mobile" class="topnav" >
        <li><a href="javascript:void(0);" onclick="imit.menu.toggleMobileMenu()"><img src="/images/cs_list.png"/></a></li>
        <li><a href="/">Главная</a></li>
        <li><a href="/page/about" class="drop">Институт</a></li>
        <li><a href="http://www.cs.petrsu.ru/studies/schedule2016.pdf">График
            учебного процесса</a></li>
        <li><a href="http://www.cs.petrsu.ru/studies/kurs/vkr2016.pdf">Положение
            о выпускных работах</a></li>
        <li><a href="https://imit.petrsu.ru/page/kurs">Курсовые и выпускные работы</a></li>
         <li>Бакалавриат
	    <ul>
		<li><a href="/page/exam">Отчетность студентов</a></li>
		<li><a href="/page/gos_bak">Итоговая государственная аттестация</a></li>
	    </ul>
	</li>
        <li>Магистратура
        <ul>
            <li><a href="/page/mag_templates">Образцы индивидуальных планов и
                ведомостей</a></li>
            <li><a href="/page/areas">Направления подготовки</a></li>
            <li><a href="/page/gos_mag">Итоговая государственная
                аттестация</a></li>
        </ul>
	</li>
        <li>Заочное отделение
        <ul>
            <li><a href="/page/areas_z">Направления подготовки</a></li>
            <li><a href="/page/gos_z">Государственная аттестация</a></li>
        </ul>
	</li>
	<li><a href="/page/abit">Абитуриентам</a></li>
	<li><a href="/page/pr_club">Клуб программистов</a></li>
    </ul>
    <ul id="menu">
        <li class="one"><a href="/">Главная</a></li>

        <li><a href="/page/about" class="drop">Институт</a><!-- Begin Home Item -->

            <div class="dropdown_2columns"><!-- Begin 2 columns container -->

                <div class="col_2">
                    <a href="/page/about"><h2>История</h2></a>
                </div>

                <div class="col_2">
                    <a href="/page/structure"><h3>Структура</h3></a>
                </div>

                <div class="col_2">
                    <ul class="sub">
                        <li><a href="/page/structure#dir" class="strong">Дирекция</a></li>
                        <li><a href="/page/structure#matan">Кафедра математического анализа</a></li>
                        <li><a href="/page/structure#pmik">Кафедра прикладной математики и кибернетики</a></li>
                        <li><a href="/page/structure#imo">Кафедра информатики и математического обеспечения</a></li>
                        <li><a href="/page/structure#tvad">Кафедра теории вероятностей и анализа данных</a></li>
                        <li><a href="/page/structure#ped">Кафедра теории и методики обучения математике и
                            информационно-коммуникационным технологиям в образовании</a></li>
                    </ul>
                </div>

            </div><!-- End 2 columns container -->

        </li><!-- End Home Item -->

        <li><a href="#" class="drop">Обучение</a><!-- Begin 4 columns Item -->

            <div class="dropdown_3columns"><!-- Begin 4 columns container -->

                <ul>
                    <li style="line-height: 1.2em;"><a href="https://imit.petrsu.ru/files/2017/f_94_schedule2017.pdf">График
                        учебного процесса</a> [<a href="https://imit.petrsu.ru/page/schedule_archive">Архив</a>]<br/></li>
                    <li style="line-height: 1.2em;"><a href="http://www.cs.petrsu.ru/studies/kurs/vkr2016.pdf">Положение
                        о выпускных работах</a><br/></li>
                    <li style="line-height: 1.2em;"><a href="https://imit.petrsu.ru/page/kurs">Курсовые и выпускные работы</a><br/></li>
                </ul>
                <div class="col_1">

                    <h3>Бакалавриат</h3>
                    <ul>
                        <li style="line-height: 1.2em;"><a href="/page/exam">Отчетность студентов</a><br/></li>
                        <li style="line-height: 1.2em"><a href="/page/gos_bak">Итоговая государственная
                            аттестация</a><br/></li>
                        <li style="line-height: 1.2em"><a href="/page/adds_bak">Курсы по выбору</a><br/></li>
                    </ul>
                </div>
                <div class="col_1">
                    <h3>Магистратура</h3>
                    <ul>
                        <li style="line-height: 1.2em;"><a href="/page/mag_templates">Образцы индивидуальных планов и
                            ведомостей</a><br/></li>
                        <li style="line-height: 1.2em;"><a href="/page/areas">Направления подготовки</a><br/></li>
                        <li style="line-height: 1.2em"><a href="/page/gos_mag">Итоговая государственная
                            аттестация</a><br/></li>
                    </ul>

                </div>

                <div class="col_1">
                    <h3>Заочное обучение</h3>
                    <ul>
                        <li style="line-height: 1.2em;"><a href="/page/areas_z">Направления подготовки</a><br/></li>
                        <li style="line-height: 1.2em;"><a href="/page/gos_z">Государственная аттестация</a><br/></li>
                    </ul>

                </div>
            </div><!-- End 4 columns container -->

        </li><!-- End 4 columns Item -->
        
	<li class="one"><a href="/page/abit" class="drop">Абитуриентам</a><!-- Begin 4 columns Item -->
        </li><!-- End 4 columns Item -->

	<li class="one"><a href="/page/pr_club" class="drop">Клуб программистов</a><!-- Begin 4 columns Item -->
        </li><!-- End 4 columns Item -->

    </ul>
</header>
