{% extends "layout.html" %}

{% block title %}Управление{% endblock %}

{% block content %}
<h1>Управление</h1>
<a href="/page/instruction">Инструкция</a>
<h2>Меню</h2>
<a href="/menu/list">Редактировать пункты меню</a><br/>
<h2>Новости</h2>
<a href="/news/add">Добавить новость</a><br/>
<a href="/news/add_vk">Добавить новость из ВКонтакте</a>
<h2>Объявления</h2>
<a href="/ads/add">Добавить объявление</a>
<h2>Employers</h2>
<a href="/employers/add">Add employer</a>
<h2>ВКР</h2>
<a href="/directive">Распоряжение о назначении тем ВКР</a>
{% endblock %}
