{% extends "layout.html" %}
{% block title %}Добавление новости{% endblock %}

{% block content %}
    <h1>Добавление новости</h1>
    {% include 'error_flash.html' %}
    <a href="/page/instruction">Инструкция</a><br/>
    <br/>
    <form  id="myForm" method="POST" enctype="multipart/form-data" {% if action is defined %}action="{{ action }}"{% endif %}>
        {{ add_form.csrf_token }}
        {{ add_form.title.label }} {{ add_form.title() }} <br/>
        {{ add_form.date(style="display:none") }}<br/>
        {{ add_form.full_cover_image }}

        {{ add_form.delete_cover_image(style="display:none") }}
        {{ add_form.cropped_cover_image_data.label }} {{ add_form.cropped_cover_image_data() }} <br/>
        <div id="cover_image_block"
                {% if post is not defined or not post.cover_image %}
             style="display: none"
                {% endif %}
        >
            {% if post is defined and post.cover_image %}
            {% for image in images %}
            <img id="cover_image_preview" width="150" height="150"
                 src="/files/covers/{{ image.filename }}"/>
            <br/>
            {% endfor %}
            {% else %}
            <img id="cover_image_preview" width="150" height="150"
                 src="#"/>
            <br/>
            {% endif %}
            
            <button id="delete_cover_image_button">Удалить изображения</button>
            <br/>
        </div>

        <br/>
        <div id="cropper_block" style="display: none">
            <img id="cover_image_cropper" style="max-width: 100%" alt="title image cropper" src="#" height="300"/>
            <br/>
            <button id="apply_crop_button">Сохранить изображение</button>
            <button id="cancel_crop_button">Отменить изменение изображения</button>
            <br/>
        </div>
        {{ add_form.full_text.label }} {{ add_form.full_text() }} <br/>
        <input type="submit"  name="publish" value="Опубликовать"/>
    </form>
    <script type="text/javascript">
        const myForm = document.getElementById('myForm');;
        
        myForm.addEventListener('submit', (event) => {
            event.preventDefault(); // отменяем действие по умолчанию, чтобы форма не отправлялась

            alert('Новость опубликованна'); // выводим сообщение после отправки формы
            
            myForm.submit();
        });
        
        function save_draft(event) {
        if (document.querySelector('form input[name="title"]').value.length === 0) {
            alert('Заполните поле заголовка');
            event.preventDefault();
            return;
        } else if (document.querySelector('form textarea[name="full_text"]').value.length === 0){
            alert('Заполните полный текст');
            event.preventDefault();
            return;
        } else {
            fetch('/news/add/save', {
            method: 'POST',
            body: new FormData(document.querySelector('form'))
        });
        alert('Черновик добавлен');
        window.location.replace('/drafts');
        }
        }
   </script>
    <button name= "save_draft"  onclick='save_draft()' value="Сохранить как черновик">Добавить в черновики</button>
    <!-- <button  onclick='alert("тык"); return false'>Опубликовать</button>
    <button >Сохранить как черновик</button> -->
    <br/>
    <!--
    <script type="text/javascript">
        imit.News.initTinyMCE('#full_text', 'Текст новости');
   </script>
    -->
{% endblock %}
