<!--div style="border:1px solid black; padding: 10px;">
    <table-->
    <!--tr>
    <td style="width:100%;" align="left">
    <p>В 2018 году в г. Ювяскюля, Финляндия пройдут:
    <ul>
      <li>конференция FRUCT22, (16-18 мая);</li>
      <li>семинар AMICT12, (17-18 мая).</li>
    </ul>

    Крайний срок подачи статей 02 марта.<br/>
    Статьи индексируются в
    Scopus. <a href="https://www.fruct.org/sites/default/files/files/conference22/FRUCT22_CFP.pdf"><i>Подробнее</i></a> </p>
    </td>
    <td style="width:25%;" align="center">
	<a href="/images/NY2018.jpg"><img width="205px" src="/images/NY2018.jpg" /></a>
    </td>
    <td style="width:25%;" align="center">
	<a href="/images/ny2018-big.png"><img src="/images/ny2018-s.png" /></a>
    </td>
    <td style="width:25%;" align="center">
	<a href="/images/Programmer-User.jpg"><img src="/images/Programmer-User-s.jpg" /></a>
    </td>
    <tr>
    	<td style="width:100%;" align="left">
    		<b>Уважаемые выпускники!</b> Просьба ознакомиться с документами <a href="https://imit.petrsu.ru/files/2018/f_199__.pdf">"Порядок представления ВКР к защите"</a> и <a href="https://imit.petrsu.ru/files/2018/f_200__.pdf">"Инструкция по предоставлению ВКР в ГЭК"</a>. Также доступно <a href="http://cs.petrsu.ru/news/2018/konsults.pdf">расписание консультаций перед государственными экзаменами с номерами аудиторий</a>.	
	</td>
    </tr>
    <tr>
    	<td style="width:100%;" align="left">
	    &nbsp;
	</td>
    </tr>
    <tr>
    	<td style="width:100%;" align="left">
	    <a href="https://imit.petrsu.ru/files/2018/f_219__.pdf">Приложение к инструкции по предоставлению ВКР в ГЭК (по направлениям подготовки)</a>.
	</td>
    </tr>
    <tr>
    	<td style="width:100%;" align="left">
	    <a href="http://cs.petrsu.ru/news/2018/gak_2018.pdf">График государственных экзаменов и защит в институте математики и информационных технологий в 2018 г.</a>
	</td>
    </tr>
    <tr>
    	<td style="width:100%;" align="left">
	    &nbsp;
	</td>
    </tr>
    <tr>
    	<td style="width:100%;" align="left">
	    Дополнительная защита курсовых работ студентов 2 и 3 курсов ИМО состоится 30 июня в 11:00. каб. 215. Работы должны удовлетворять требованиям, изложенным на сайте кафедры в объявлении от <a href="http://cs.petrsu.ru/news/archive.php.ru?q=news2018.xml#kurs">09.04.2018</a>.
	</td>
    </tr>
    <tr>
    	<td style="width:100%;" align="left">
	    &nbsp;
	</td>
    </tr>
    <tr>
    	<td style="width:100%;" align="left">
Предзащита студентов кафедры ИМО (заочное отделение) состоится 13 июня, 11:30, каб. 215. <a href="http://cs.karelia.ru/news/2018/zaoch.pdf">Список студентов</a>.	
	</td>
    </tr>
    <tr>
    	<td style="width:100%;" align="left">
	    Опубликован <a href="https://cs.petrsu.ru/studies/kurs/topics.php.ru">список тем</a> для студентов кафедры ИМО 2 курса направлений ПМиИ и ПрИн и студентов 3 курса направления ИСиТ.
	</td>
    </tr-->
    <!--tr>
    	<td style="width:100%;" align="left">
	    Международная научная конференция FRUCT 24 будет проведена в г. Москва 8-12 апреля 2019 года. Срок подачи докладов 11 февраля. <a href="https://www.fruct.org/sites/default/files/files/conference24/FRUCT24_CFP.pdf">Подробная информация</a>.
	</td>
    </tr-->
    <!--tr>
    	<td style="width:100%;" align="left">
	    <a href="https://imit.petrsu.ru/files/sch_zaoch_2019.xlsx">Опубликовано расписание зимней сессии студентов заочного обучения.</a>
	</td>
    </tr>
    <tr>
    	<td style="width:100%;" align="left">
	    <a href="https://cs.petrsu.ru/news/2018/Instruktsia_studentu.pdf">Инструкция для студентов по работе с системой тестирования i-exam (логины и пароли в дирекции).</a>
	</td>
    </tr>
    <tr>
    	<td style="width:100%;" align="left">
	    <b style="color:#ff0000;">Выпускникам</b>. Титульные листы выпускных работ необходимо сделать по шаблонам:
	    <ul>
	    <li>выпускные работы бакалавра (<a href="https://cs.petrsu.ru/news/2019/titles/bach/bachelor.doc">Word</a>, <a href="https://cs.petrsu.ru/news/2019/titles/bach/title.tex">LaTeX</a>, <a href="https://cs.petrsu.ru/news/2019/titles/bach/title.pdf">pdf</a>);</li>
	    <li>магистерские диссертации (<a href="https://cs.petrsu.ru/news/2019/titles/mag/master-of-science.doc">Word</a>, <a href="https://cs.petrsu.ru/news/2019/titles/mag/title.tex">LaTeX</a>, <a href="https://cs.petrsu.ru/news/2019/titles/mag/title.pdf">pdf</a>).</li>
	    </ul>
	    <!--hr />
	    <a href="https://cs.petrsu.ru/news/2019/Predzaschity.doc">График семинаров по представлению ВКР (предзащит).</a>
	    <hr />
	    <a href="https://cs.petrsu.ru/news/2019/consultations.pdf">Расписание консультаций перед государственными экзаменами.</a>
	    <hr />
	    <a href="https://cs.petrsu.ru/news/2019/graphik_2019.pdf">Расписание государственной итоговой аттестации.</a>
	</td>
    </tr-->
    <!--tr>
	<td><a href="/news/2019/reexams_2019_fall.pdf">График пересдач преподавателей кафедры ИМО.</a></td>
    </tr-->
    <!--tr>
	<td><a href="https://imit.petrsu.ru/news/652">Обязательная регистрация курсовых работ в системе Курс.</a></td>
    </tr-->
    <!--tr>
	<!--td><a href="https://imit.petrsu.ru/news/703"><span style="color:red;">Коррекция.</span> Студентам бакалавриата и магистратуры подготовить и сдать отчеты о практике по научно-исследовательской работе до 25 декабря.</a></td>
    </tr>
    </table>
</div-->
<!-- div style="border:1px solid black; padding: 10px; margin-top: 5px;">
    <table>
    <tr>
	<td>

<p>
Расписание летней сессии: <a href="https://cs.petrsu.ru/news/2020/exams/ex_1kurs.pdf">1 курс и магистранты</a>, <a href="https://cs.petrsu.ru/news/2020/exams/ex_2kurs.pdf">2 курс</a>, <a href="https://cs.petrsu.ru/news/2020/exams/ex_3kurs.pdf">3 курс</a>, <a href="https://cs.petrsu.ru/news/2020/exams/ex_4kurs.pdf">4 курс</a>.
</p>


	</td>
    </tr>
    </table>
</div-->
<!--div style="border:1px solid black; padding: 10px; margin-top: 5px;">
    <table>
    <tr>
	<td>

<p>
Графики зачетов. <br />
Курсы: <a href="https://cs.petrsu.ru/news/2020/exams/1kurs.pdf">первый</a>, <a href="https://cs.petrsu.ru/news/2020/exams/2kurs.pdf">второй</a>, <a href="https://cs.petrsu.ru/news/2020/exams/3kurs.pdf">третий</a>. <br />
Группы: <a href="https://cs.petrsu.ru/news/2020/exams/22402.pdf">22402</a>, <a href="https://cs.petrsu.ru/news/2020/exams/22503_22505.pdf">22503, 22505</a>.
</p>


	</td>
    </tr>
    </table>
</div-->
<!--div style="border:1px solid black; padding: 10px; margin-top: 5px;">
    <table>
    <tr>
	<td>

<p>
    <a href="https://cs.petrsu.ru/news/2020/GEK_raspisanie2019-20_new.pdf">Расписание защит выпускных работ, июнь 2020 г. <span style="color:red;">(обновлено 20.04.20)</span></a>
</p>

<p>
    Крайние сроки действий выпускников по представлению к защите в
2020 г.: <span style="color:red;">(ОБНОВЛЕНИЕ ДЛЯ ДИСТАНЦИОННЫХ ЗАЩИТ)</span>
</p>
<ul>
  <li><a href="/files/Instruktsia_po_datam_2020_bak.pdf">Выпускных квалификационных работ бакалавра</a></li>
  <li><a href="https://cs.petrsu.ru/news/2020/instr/Instruktsia_po_datam_2020_mag_doc.pdf">Магистерских диссертаций.</a></li>
  <li><a href="https://cs.petrsu.ru/news/2020/instr/VremennoePOLOZhENIE_GIA_v_distante.pdf">Временное положение о ГИА.</a></li>
  <li><a href="https://cs.petrsu.ru/news/2020/instr/Prilozhenie_3-Instruktsia_po_razmescheniyu_VKR_na_Obrazovatelnom_Portale.pdf">Инструкция по размещению ВКР на Образовательном Портале.</a></li>

</ul>


	</td>
    </tr>
    </table>
</div-->
<!--div style="border:1px solid black; padding: 10px; margin-top: 5px;">
    <table>
    <tr>
	<td>

<p>
Ученый совет ИМИТ 15 апреля внес поправки в регламент защит курсовых работ в 2019/2020 учебном году:
</p>
<ol>
    <li>К 18 мая 2020 г. обучающийся загружает свою курсовую работу в систему <a href="https://kurs.cs.petrsu.ru/">"КУРС"</a>, копию работы отправляет научному руководителю по электронной почте.</li>
    <li>Кафедра назначает рецензента, к которому направляет курсовую работу студента для отзыва.</li>
    <li>В период с 18 по 24 мая кафедра получает отзывы о работе от научного руководителя и рецензента, на основе которых комиссия по приему курсовых работ принимает решение об аттестации и доводит информацию об оценке до обучающегося.</li>
    <li>Доступ к системе <a href="https://kurs.cs.petrsu.ru/">"КУРС"</a> осуществляется по логину/паролю от Информационно-вычислительной инфраструктуры (ИВИ) ИМИТ.</li>
    <li>Для получения/восстановления доступа к ИВИ ИМИТ необходимо обратиться к Димитрову В. М. по электронной почте: <a href="mailto:dimitrov@cs.petrsu.ru">dimitrov@cs.petrsu.ru</a></li>
</ol>

	</td>
    </tr>
    </table>
</div>
<br/-->

<!--div style="border:1px solid black; padding: 10px; margin-top: 5px;">
<b>Хакатоны и отчетность по практикам в 2021-2022 учебном году.</b> <a href="http://cs.petrsu.ru/~kulakov/courses/practice/2021/index.php">Подробнее.</a>
</div>

<div style="border:1px solid black; padding: 10px; margin-top: 5px;">
<b>Студентам ИМИТ (кроме первого курса) необходимо отчитаться о работе по практике НИР (курсовые работы) с загрузкой материалов в систему Курс до 25 декабря 2021 г.</b> <a href="https://imit.petrsu.ru/page/pass_kurs_fall_2021">Подробнее</a>.
</div>

<div style="border:1px solid black; padding: 10px; margin-top: 5px;">
<p>
<b>Студентам ИМИТ необходимо зарегистрировать или перерегистрировать темы практик НИР (курсовых работ) в системе Курс в срок до 23.10.2021.</b> <a href="/page/ann_kurs_fall_2021">Подробнее</a>.
</p>
</div-->

<!--div style="border:1px solid black; padding: 10px; margin-top: 5px;">
    <table>
    <tr>
	<td>
Дополнительная защита практик НИР (курсовых работ) для студентов 2 и 3 курсов, выполняющих работы на кафедре ИМО, состоится 28.06 в 11:00 в 215 ауд.
	</td>
    </tr>
    </table>
</div-->
<div style="border:1px solid black; padding: 10px; margin-top: 5px;">
    <table>
    <tr>
	<td>
	<a href="https://imit.petrsu.ru/news/871">Отчетность по практике НИР студентов гр. 22403, 22404, 22405, 22407.</a>
	</td>
    </tr>
    </table>
</div>
<div style="border:1px solid black; padding: 10px; margin-top: 5px;">
    <table>
    <tr>
	<td>
	<a href="https://imit.petrsu.ru/news/879">Расписание и процедура защиты отчетов по практике НИР студентов 2 и 3 курсов на кафедре ИМО.</a>
	</td>
    </tr>
    </table>
</div>
<div style="border:1px solid black; padding: 10px; margin-top: 5px;">
    <table>
    <tr>
	<td>
	<a href="https://imit.petrsu.ru/news/880">Цифровая форма отчета по практике НИР студентов 2 и 3 курсов.</a>
	</td>
    </tr>
    </table>
</div>
<br/>
