{% extends "layout.html" %}
{% block title %}ИМИТ: {{ post.title }}{% endblock %}
{% block head %}
    <meta property="og:title" content="ИМИТ: {{ post.title }}"/>
    <meta property="og:type" content="website"/>
    {% if post.has_cover_image %}
        <meta property="og:image" content="https://imit.petrsu.ru/files/covers/ci_{{ post.id }}.png"/>
    {% endif %}
    <meta property="og:description" content="{{ post.short_text }}"/>
    <meta property="og:url" content="https://imit.petrsu.ru/news/{{ post.id }}"/>
{% endblock %}

{% block content %}
    <b>{{ post.date_created.strftime('%d.%m.%Y') }}</b>
    &nbsp;
    <span class="title">{{ post.title }}</span>
    <br/>
    <div class="post-content">
        {% if post.cover_image %}
            {% for image in images %}
                <div style="float:left; margin-right: 10px;">
		            <a href="/files/covers/{{ image.filename }}" rel="prettyPhoto[{{ post.id}}]">
                <img src="/files/covers/{{ image.filename }}" alt=""
                         full-cover-image="/files/covers/{{ image.filename }}_full.png"
                height="75"/> </a><br/>
                </div>
            {% endfor%}
        {% endif %}
        <div class="news-text">{{ post.full_text|safe }}</div>
    </div>
    <br/>

    {% if current_user.is_authenticated and current_user.has_role('editor') %}
        <p class="news-links">
            <a href="/news/{{ post.id }}/edit">Редактировать</a> | <a href="/news/{{ post.id }}/delete">Удалить</a>
            |
            <script type="text/javascript">
            document.write(VK.Share.button({noparse: false}, {type: "round", text: "Поделиться"}));
            </script>
        </p>
    {% endif %}
{% endblock %}
