{% extends "layout.html" %}
{% block title %}Добавление пункта меню{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" {% if action is defined %}action="{{ action }}"{% endif %}>
        {{ add_form.csrf_token }}
        {{ add_form.name.label }} {{ add_form.name() }} <br/>
        {{ add_form.link.label }} {{ add_form.link() }} <br/>
        {{ add_form.father.label }} {{ add_form.father() }} <br/>
        {% if add_form.number.data != None %}
            {{ add_form.number.label }} {{ add_form.number() }} <br/>
        {% endif %}
        {{ add_form.size.label }} {{ add_form.size() }} <br/>
        <input type="submit" value="Сохранить"/>
    </form>
{% endblock %}
